<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<form th:action="@{'/logout'}" method="POST">
    <button class="ui-button">Logout</button>
</form>
<body>
<p th:text="'ID: ' + ${user.getId()}">VALUE</p>
<p th:text="'Name: ' + ${user.getName()}">VALUE</p>
<p th:text="'Surname: ' + ${user.getSurname()}">VALUE</p>
<p th:text="'Age: ' + ${user.getAge()}">VALUE</p>
<p th:text="'Email: ' + ${user.getEmail()}">VALUE</p>
<hr/>
</body>
</html>